*, body {
    padding: 0;
}

body {
    background-color: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

section {
    width: 100vh;
    height: 25vh;
    border-radius: 25px;
    justify-content: center;
    background-color: #cccccc;
    padding: 10px;
    margin: 5px 5px;
    align-content: center;
    display: flex;
    box-shadow: -18px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

p {
    font-size: 35px;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

h2 {
    color: red;
}