[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "isotonic_estimator_lib"
version = "0.0.2"
authors = [
  { name="Wicksell Isotonic Estimator", email="f.gili@tudelft.nl" },
]
description = "Package that implements the isotonic estimator for Wicksell's problem."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]