:root {
    --primary: #4582EC;
    --secondary: #AEB5BC;
    /* Nice gray */
    --warning: #E7AE5F;
    --danger: #CA5C54;
    --success: #52B47B;
    --info: #48A0B5;
    --dark-gray: #778899;
    --light-gray: #F4F4F4;
    --border: 1px solid var(--dark-gray);
}

.text-muted {
    color: var(--dark-gray);
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}


a:visited {
    color: var(--dark-gray);
}

a {
    color: var(--primary);
    text-decoration: none;
}

blockquote,
time {
    font-size: larger;
}

.archive-year {
    display: grid;
    grid-template-columns: max-content auto;
}

.archive-year span {
    text-align: right;
}

.archive-year a {
    text-align: left;
}

.archive-year > * {
    padding: 0 10px;
}

th,
td {
    padding-right: 8px;
}

body {
    /*
  The following is from "58 bytes of css to look great nearly everywhere"
  https://jrl.ninja/etc/1/
  */
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto !important;
}
