.djt {
    display: flex;
    width: 100%;
    /*margin-bottom: 24px;*/
}


.djt-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    transition: flex-basis 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.djt--expanded .djt-container:not(.djt-container--hidden) {
    flex-basis: 100%;
    max-width: 100%;
    transition: flex-basis 0.3s ease-in-out, max-width 0.3s ease-in-out;

}

.djt-container.djt-container--hidden {
    display: none;
    max-width: 0;
    overflow: hidden;
    transition: flex-basis 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.djt-container:first-of-type {
    margin-right: 8px;
}

[dir="rtl"] .djt-container:first-of-type {
    margin-right: 0;
    margin-left: 8px;
}

.djt-buttons {
    display: flex;
    padding: 0 8px;
}

.djt-button {
    background-color: transparent;
    outline: 0 !important;
    padding: 8px;
    border: none;
    position: relative;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.djt-button:hover {
    background-color: rgb(246, 248, 248);
}

.djt-button:not(.djt-button--active):hover {
    background-color: rgb(246, 248, 248);
}

.djt-button--active {
    --djt-primary: #009ef7;
    color: var(--djt-primary);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.djt-button:after {
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--djt-primary);
    opacity: 0;
}

.djt-button--active:after {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.djt-buttons.djt-buttons--end {
    justify-content: flex-end;
}

.djt-button.djt-button--display-toggle {
    margin-left: auto;
    width: fit-content;
    padding: unset;
    height: fit-content;
    font-size: 12px;
    align-self: center;
}

[dir="rtl"] .djt-button.djt-button--display-toggle {
    margin-left: unset;
    margin-right: auto;
}

.djt-svg-icon {
    line-height: 1;
    color: #A1A5B7FF;
}

.djt-svg-icon.djt-svg-icon-muted {
    color: #A1A5B7FF;
}

.djt-input {
    border-radius: 8px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgb(224, 224, 224);
    /*margin-bottom: 16px;*/
}

.djt-input.djt-input--textarea {
    resize: none;
    min-height: 150px;
    outline: none;
}

.djt-input.djt-input--display {
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
    height: 100%;
}

.ck-editor__editable_inline {
    min-height: 400px;
    margin-bottom: 16px;
}


@media (max-width: 767px) {
    .djt {
        flex-flow: column;
    }

    .djt-container {
        flex-basis: 100%;
        max-width: 100%;
        min-height: 150px;
    }

    .djt-container:first-of-type {
        margin-right: unset;
    }

    .djt-button.djt-button--display-toggle {
        display: none;
    }

    [dir="rtl"] .djt-container:first-of-type {
        margin-right: 0;
        margin-left: unset;
    }

    .djt-buttons.djt-buttons--end {
        justify-content: flex-start;
    }
}